/node_modules
/public/hot
/public/storage
/public/images
/public/upload
.gitignore
/storage/*.key
/.idea
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
obj.sql
/config/database.php

