#divVideo {
    width: 100%;
    height: 100%;
}
.fixed {
    position: fixed !important;
    z-index: 999999999 !important;
    top: 0px !important;
}
body{
    max-width: 100%;
}
.content{
    margin: 0 auto;
    width: 1190px;
    position: relative;
    zoom: 1;
    overflow: hidden;
}
.pc_main {
    color: #666;
    width: 940px;
    float: left;
    margin-top: 20px;
}
.pc_sub {
    float: left;
    width: 249px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-left-width: 0;
    background: #f0f0f0;
    color:#333;
}
.pc_main .pc_body{
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.pc_head{
    border: 1px solid #ccc;
    zoom: 1;
    overflow: hidden;
}
.pc_head_left{
    margin-left: 20px;
    width: 400px;
    float: left;
}
.pc_head_right{
    float: left;
    width: 518px;
}
/* 轮播图 */
.pc_slide {
    margin-top: 20px;
    width: 400px;
}
.view .swiper-container {
    width: 400px;
    height: 400px;
}
.view .swiper-container img {
    width: 400px;
    height: 400px;
}
.preview {
    margin: 20px 0 25px 0;
    position: relative;
}
.preview .swiper-container {
    margin-left: 35px;
}
.preview .swiper-slide {
    width: 50px;
    height: 50px;
    cursor:pointer;
    margin-right: 10px;
}
.preview .swiper-slide img{
    width: 50px;
    height: 50px;
}
.preview .slide6 {
    width: 50px;
}
.preview img {
    padding: 1px;
}

.preview .active-nav img {
    padding: 0;
    border: 1px solid #F00;
}

.pc_main h1 {
    margin-top: 25px;
    margin-bottom: 7px;
    margin-left: 20px;
    width: 450px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #1b1b1b;
}
.pc_main .pc_status {
    position: relative;
    margin-left: 20px;
}
.timebox {
    margin: 0px;
    overflow: hidden;
    line-height: 36px;
    background: #fff;
    border-top: none;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #333333;
    padding-right: 20px;
}
.timebox .text {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    float: left;
    padding: 0 10px;
    background: #ff5500;
    text-align: center;
    height: 36px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0;
    border-top-right-radius: 100px;
}
.boxtime font{
    font-size: 14px;
}
#timer{
    font-size: 14px;
}
.pc_main .pc_operation {
    position: relative;
    margin-top: 20px;
    padding: 5px 20px 20px;
    min-height: 167px;
    margin-bottom: 13px;
    background: url("/img/pc_bg.png") no-repeat right bottom #eee;
    background-size: 100%;
}
.pc_money{
    overflow: hidden;
}
.pc_money >span{
    float: left;
}
.pc_money_1 .title, .pc_money .title {
    margin-right: 10px;
    margin-left: 50px;
    line-height: 46px;
    width: 110px;
    display: inline-block;
    text-align: right;
}
.pc_money_1 .title{
    line-height: 49px;
}
.pc_operation .pc_money .money {
    font-size: 30px;
    color: #1b1b1b;
    font-weight: 700;
    position: relative;
    top: 5px;
    font-family: Tahoma;
    vertical-align: middle;
}
.pc_operation .pc_money_1 .money {
    font-size: 32px;
    color: #8e011d;
    font-weight: 700;
    font-family: Tahoma;
    vertical-align: middle;
}
.pc_operation .pc_money_1{
    margin-top: 11px;
    margin-bottom: 15px;
}
.pc_main .pc_submit .pc_button span img{
    width: 20px;
    height: 20px;
}
.pc_main .pc_submit .pc_button {
    display: inline-block;
    color: #fff;
    background-color: #C41B36;
    border: 1px solid #C41B36;
    width: 240px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 27px;
    text-decoration: none;
}
.pc_button .img{
    position: absolute;
    left: 106px;
    bottom: -3px;
}
.pc_activity_title{
    margin: 10px 20px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
    font-size: 20px;
}
.pc_activity_content{
    margin: 10px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    height: 60px;   
}
.pc_activity_content div{
    height: 60px;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.pc_service{
    margin-left: 20px;
}



.pc_body .pc_flow {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    bottom: -1px;
    z-index: 12;
    height: 55px;
}
.pc_body .pc_addition {
    position: relative;
}
.pc_addition .detail_bars{
    height: 61px;
    z-index: 161;
    width: 938px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.pc_body .detail_bars li {
    float: left;
    display: inline;
    position: relative;
    top: 1px;
    font-weight: 700;
    font-size: 14px;
    padding: 20px 35px;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}
.pc_body .detail_bars li.current {
    background-color: #fff;
    color: #7f0019;
    border-top: 2px solid #7f0019;
    box-sizing: border-box;
}
.pc_body #tab1:hover,.pc_body #tab2:hover,.pc_body #tab3:hover{
    background-color: #fff;
    color: #7f0019;
    border-top: 2px solid #7f0019;
    box-sizing: border-box;
}
.pc_body #tab3  {
    background-image: url("/img/new.gif");
    background-repeat: no-repeat;
    background-position: right 2px;
}
.pc_body .pc_detail_tab{
    padding: 0 20px 20px;
}
.pc_detail_tab_1 p{
    text-align: center;
}
.pc_bottom_logo{
    margin: 0 auto;
    height: 95px;
    width: 990px;
}
.pc_bottom_logo img{
    height: 100%;
    width: 100%;
}
.footer{
    width: 1190px;
    margin: 0 auto;
    height: 80px;
}
.AfterSale{
    background-color: #e8e8e8;
}
.AfterSale_1{
    width: 1190px;
    margin: 0 auto;
    
    padding: 20px 60px;
    box-sizing: border-box;
}
.AfterSale h4{
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    color: #C41B36
}
.AfterSale p{
    text-align: center;
    line-height: 26px;
}
.pc_bottom{
    border-top: 3px solid #808080;
    margin-top: 35px;
    color:#333;
}
.footer{
    position: relative;
}
.footer img{
    width: 60px;
    margin-top: 10px;
}
.footer p{
    position: absolute;
    top: 10px;
    left: 74px;
    line-height: 26px;
    font-size: 12px;
}


.pc_sub .pc_query>h4 {
    padding: 12px 0;
    text-align: center;
    font-size: 20px
}
.pc_sub input{
    float: left;
    padding: 4px 4px;
    font-size: 12px;
}
.pc_sub .textbox{
    overflow: hidden;
    padding: 10px;
    padding-left: 12px;
    padding-right: 0;
}
.pc_sub .textbox a{
    float: left;
    display: block;
    height: 26px;
    line-height: 26px;
    text-align:center;
    width: 56px;
    background-color: #C41B36;
    border-radius: 10px;
    color:#fff;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.pc_query_content{
    padding: 10px;
    /* height: 572px; */
}
.pc_query_content h4{
    font-size: 14px
}
.pc_query_content p{
    font-size: 12px;
    padding: 6px 0;
}
.pc_query_content .product_image{
    width: 130px;
    height: 130px;
    margin: 0 auto;
}
.pc_query_content .product_image img{
    width: 130px;
    height: 130px;
}
.tihsi{
    margin-top: 14px
}
.pc_sub .liuyan{
    padding: 12px;
    padding-bottom: 28px;
}
.pc_sub .buyinfo_hd{
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 6px;
}
.pc_sub #stars span{
    color: #f00;
    font-size: 20px;
    cursor: pointer
}
.pc_sub .require{
    color: #f00;
}
.pc_sub .input01{
    margin-bottom: 14px
}
.pc_sub .table_td,.pc_sub #stars{
    padding-bottom: 14px;
}
.pc_sub .input_btn01{
    margin-left: 74px;
}
.pc_sub .buyinfo_table_box{
    padding-top: 10px;
}
.to_top{
    position: fixed;
    bottom: 120px;
    margin-left: auto!important;
    z-index: 11000;
    background-color: #ccc9c9;
    /* border: 1px solid #ebebeb; */
    color: red;
    cursor: pointer;
    display: block;
    width: 38px;
    line-height: 38px;
    text-align: center;
    right: 288px;
}
.to_top:hover{
    background-color: #f5f5f5;
    box-shadow: 1px 2px 2px #d4cece;
}
.pc_query_content_1{
    /* height: 384px; */
}
#output{
    position: relative;
}
#output>i{
    position: absolute;
    background-image: url(/img/bofang.png);
    background-repeat: no-repeat;
    background-position: 11px 11px;
    width: 50px;
    height: 50px;
    background-size: 30px 30px;
}
.pc_main .pc_submit .pc_button:hover{
    box-shadow: 1px 2px 2px #b67070;
    background-color: #e43854;
}
.pc_submit{
    position: relative;
}