article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
	display: block
}

.cd-img-replace {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap
}

body:after {
	-webkit-transition: visibility 0s linear .5s,opacity .5s ease-out 0s;
	transition: visibility 0s linear .5s,opacity .5s ease-out 0s;
	box-sizing: border-box;
	content: " ";
	display: block;

	opacity: 0;
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1
} 

.overflow-hidden body:after {
	-webkit-transition: visibility 0s linear 0s,opacity .25s ease-in .25s;
	transition: visibility 0s linear 0s,opacity .25s ease-in .25s;
		background: #666;
	opacity: .5;
	visibility: visible
}

.cd-main-content {
	height: auto;
	min-height: 500px;
	/*position: relative;*/
	z-index: 1;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
	background: #fff;
	overflow: hidden
}

.cd-main-content.lateral-menu-is-open {
	-webkit-transform: translateX(260px);
	-moz-transform: translateX(260px);
	-ms-transform: translateX(260px);
	-o-transform: translateX(260px);
	transform: translateX(260px);
	overflow-y: hidden;
    position: fixed; opacity:0.8
}


.cd-main-content hr { display:block; height:1px; width:100%; background:#f0f0f0; border:none;
}

header hr {
	background: #f0f0f0;
	height: 1px;
	width: 100%;
	overflow: hidden;
	border: none
}

header {
	position: fixed;
	background: #fff;
	top: 0px;
	height: 45px;
	width: 100%;
	max-width: 780px;
	z-index: 10;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
}

header.lateral-menu-is-open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0)
}

header.is-fixed {
	position: fixed
}

#cd-logo {
	display: block;
	float: left;
	margin: 12px 0 0 20px
}

#cd-logo img {
	display: block
}

@media only screen and (min-width:768px) {
	#cd-logo {
		margin: 22px 0 0 30px
	}
}

#cd-top-nav {
	position: absolute;
	top: 0;
	right: 120px;
	height: 100%;
	display: none
}

#cd-top-nav ul {
	height: 100%;
	padding-top: 18px
}

#cd-top-nav li {
	display: inline-block;
	margin-right: 1em
}

#cd-top-nav a {
	display: inline-block;
	padding: .5em;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 600
}

#cd-top-nav a.current {
	background-color: #242e30
}

.no-touch #cd-top-nav a:hover {
	color: rgba(255,255,255,.7)
}

@media only screen and (min-width:768px) {
	#cd-top-nav {
		display: block
	}
}

#cd-menu-trigger {
	position: absolute;
	cursor: pointer;
	left: 7px;
	top: 0;
	height: 100%;
	width: 40px
}

#cd-menu-trigger .cd-menu-text {
	height: 100%;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 600;
	display: none
}

#cd-menu-trigger .cd-menu-icon {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 22px;
	height: 2px;
	background-color: #333
}

#cd-menu-trigger .cd-menu-icon:before,#cd-menu-trigger .cd-menu-icon:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
	left: 0;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden
}

#cd-menu-trigger .cd-menu-icon:before {
	bottom: 8px;
	-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#cd-menu-trigger .cd-menu-icon:after {
	top: 8px;
	-webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: #fff;
}
#cd-menu-trigger.is-clicked .cd-menu-icon:before, #cd-menu-trigger.is-clicked .cd-menu-icon:after {
  background-color:#333;
}
#cd-menu-trigger.is-clicked .cd-menu-icon:before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width:768px) {
	#cd-menu-trigger .cd-menu-text {
		display: inline-block;
		line-height: 70px
	}

	#cd-menu-trigger .cd-menu-icon {
		left: 10px;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0)
	}
}

#cd-lateral-nav {
	position: fixed;
	height: 100%;
	left: 0;
	top:46px;
	z-index: 9999;
	width: 260px;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transform: translateX(-270px);
	-moz-transform: translateX(-270px);
	-ms-transform: translateX(-270px);
	-o-transform: translateX(-270px);
	transform: translateX(-270px);
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,.15);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.15);
	box-shadow: 3px 3px 10px rgba(0,0,0,.15);
	 background:#fff;
}


#cd-lateral-nav .gw-sidebar-menu {
	position: absolute;
	top: 0;
	height: 100%; background:#fff;
	width: 100%
}

#cd-lateral-nav .cd-navigation {
	margin: 10px 0 16px
}

#cd-lateral-nav .cd-navigation li:nth-child(6) a,#cd-lateral-nav .cd-navigation li:nth-child(4) a,#cd-lateral-nav .cd-navigation li:nth-child(5) a {
	/*font-weight: bold;*/
}

#cd-lateral-nav .sub-menu {
	padding: 0 10px 20px 15px;
	display: none; background:#f6f6f6; width:100%; float:left
}
#cd-lateral-nav .sub-menu li a{
	text-decoration:none;
	background: #f6f6f6;
}
#cd-lateral-nav .sub-menu li span a{padding-left: 30px; font-size: 14px; line-height: 26px;}
#cd-lateral-nav a {
	display: block;
	line-height: 36px;
	padding: 5px 0px 5px 20px; font-size:16px;
	color: #333; width:86%; float:left 
}

#cd-lateral-nav .rightico{ width:10%; float:right; display: block;
	line-height: 36px;
	padding: 5px 10px 5px 26px; margin-top:2px; font-size:16px; height:42px; background:#f0f0f0 }
#cd-lateral-nav a.current {
	background-color: #f0f0f0;
	color: #FFF
}

.no-touch #cd-lateral-nav a:hover {
	color: #333
}

#cd-lateral-nav .sub-menu li a:hover {
	text-decoration: underline
}

@media only screen and (min-width:768px) {
	#cd-lateral-nav .cd-navigation {
		margin: 20px 0
	}
}

#cd-lateral-nav.lateral-menu-is-open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-overflow-scrolling: touch
}

.item-has-children {
	border-bottom: 1px solid #eee; position:relative; width:100%; float:left
}

#cd-lateral-nav .item-has-children>a {
	position: relative;
	text-transform:capitalize; font-size:16px;
}

#cd-lateral-nav .item-has-children i {
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 22px;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	 right: 13px; 
	background: url(../../fonts/site_font/cd-arrow.svg) no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	transition-duration: .2s
}

#cd-lateral-nav .item-has-children .rightico.submenu-open i {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg)
}

#cd-lateral-nav dl { display:none;
	overflow: hidden; background:#e20576; height:26px;
	padding:16px 10px 22px;
}

#cd-lateral-nav dl dt {
	float: left;
}

#cd-lateral-nav dl dt img {
	width: 120px;
	overflow: hidden
}

#cd-lateral-nav dl dd {
	float: left;
	font-size: 12px;
	color: #fff;
	width: 50%;
	text-transform: capitalize
}

#cd-lateral-nav dl dd span {
	display: block;
	background:url(../../img/site_img/sign.png) no-repeat center;
	background-size: 24px;
	display: inline-block;
	width: 28px;
	height: 24px; line-height:24px;
	position: relative;
	top: 4px
}
#cd-lateral-nav dl dd:first-child span{ background:url(../../img/site_img/yh.png) no-repeat center; background-size:24px;}
#cd-lateral-nav dl dt a {
	padding: 0
}

#cd-lateral-nav dl dd a {
	padding: 0
}

#cd-lateral-nav dl dd a.gw-top-search {
	background: url(../../img/site_img/serch@3x.jpg) no-repeat left center;
	background-size: 18px;
	padding-left: 25px;
	display: block
}

#cd-lateral-nav .gw-login-message a {
	display: inline;
	padding: 0
}
.currency-select{ background:#f0f0f0;}
.currency-select .sub-menu{background:#f0f0f0;}
.currency-select a{color: #333; display: block;font-size:14px;}
#cd-lateral-nav .currency-select .sub-menu li a{ padding:5px 16px 5px 20px; font-size:14px;}
.currency-select a span {
    background: url(../../img/site_img/countries-flag.png) no-repeat;
    width: 16px;
    height: 13px;
    display: inline-block;
    margin-right: 10px;
}
.currency-select a.EUR span {
    background-position: -100px -60px;
}
.currency-select a.USD span {
    background-position: -320px -200px;
}
.currency-select a.GBP span {
    background-position: -260px -200px;
}

.my-account{ background:#fff}
.box .box-title{ background:#f4f4f4; padding:10px 10px;}
.box .box-title h2{ margin:0 0}
.box .box-content{ padding:10px 10px 10px 10px;background:#fff}
.order-items .table-caption{background:#f4f4f4; padding:10px 10px;}
.data-table {padding:10px 10px;}
.data-table .first th{ border-bottom:1px solid #ddd}
.data-table tfoot{border-top:1px solid #ddd}
.item-options dt{ padding:0!important; background:#fff!important;line-height:24px!important;height:24px!important;}
.item-options dd{ width:auto!important; }
.a-right{ text-align:right}
.blog-list{ padding:0 10px;}
.blog-list img{ width:100%; height:auto}
.col2-right-layout .col-right{ display:none}
.postTitle h2{ padding-bottom:10px!important; font-size:18px}
.bml-checkout-type{ width:50%; float:left; display:none;}
.paypal-logo{float:left;padding-top: 10px!important;width: 50%;padding-left: 10px;}
.paypal-logo img{ width:100%}
.bml-checkout-type .paypal-logo{width: 100%; padding: 6px 10px 0 16px;}
.bml-checkout-type .paypal-logo img{width: 100%;}
.bml-checkout-type .paypal-logo .bml_button a:nth-child(2){ display:none}


/*gw wuliu*/
.gw_header_track_order{ float:right; padding:0 10px;}
.gw_header_track_order:hover{
	moz-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
	box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
	background:#fff;
}
.Track_box{ overflow:hidden; padding:20px;}
.Track_box p{ font-size:12px; color:#666; text-align:center;}
.track-cx{ overflow:hidden; margin:15px 0}
.track-cx label{ font-size:14px; display:block; margin-bottom:5px; text-align:left;}
.track-cx label em{ color:#f00;}
.track-cx select{ height:36px; line-height:36px; padding:0 12px;background: url(../../img/site_img/select-arrow.png) no-repeat center right; padding-right: 25px !important;width:100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;border:1px solid #CDCDCD;}
.track-cx input{ border:1px solid #CDCDCD; padding:0 2%; height:36px; line-height:36px; display:block; width:100%; margin:15px 0 0;}
.track-cx button{ border:none; background:#fc0cad; color:#fff; border-radius:3px; padding:10px 15px; font-size:16px; margin:10px 0 0; float:left;}
.track-result{ overflow:hidden;}
.track-result dl{ overflow:hidden; margin:0;}
.track-result dl dt{ border-bottom:1px dashed #ddd; padding:8px 0; margin:5px 0; font-weight:normal;}
.track-result dl dt span,.track-result dl dd span{ float:left; width:140px; font-size:14px; display:inline-block; color:#000; text-align:left;}
.track-result dl dt b{ font-size:14px;}
.track-result dl dd{ border-bottom:1px dashed #ddd;margin:5px 0; overflow:hidden; padding:8px 0;}
.track-result dl dd ul{ float:left; overflow:hidden; padding:15px 0 0;}
.track-result dl dd ul li{ font-size:13px; line-height:20px; padding:2px 0 5px; color:#666; text-align:left;}
.track-result dl dd ul li b{ font-weight:normal; color:#000; padding-left:8px;}
.track-result dl dd ul li:last-child{ color:#f30;}
.track-result dl dd ul li:last-child b{ color:#f30;}
/**/

